

   body {
        background:color( rgb(97, 97, 243));
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
      }

#cloud{
    position:absolute;
    top:0;
    left:0;
    width:100%;    
    height:100%;
    background-image: linear-gradient(to bottom, #003966, #2b6287, #588da7, #8ab9c6, #c2e6e9);
    border-bottom: solid 1px #999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}
#nuage1{
    z-index: 1;
    position: absolute;
    left:-50px;
    top:2em;
    animation: moveCloud 120s linear infinite;
    -webkit-animation: moveCloud 120s linear infinite;
    -moz-animation: moveCloud 120s linear infinite;
}


#nuage2 {
    z-index: 2;
    position: absolute;
    left:-200px;
    bottom:15em;
    animation: moveCloud 80s ease-in-out infinite;
    -webkit-animation: moveCloud 80s ease-in-out infinite;
    -moz-animation: moveCloud 80s ease-in-out infinite;
    
}


#nuage3 {
    
    z-index: 1;
    position: absolute;
    left:-400px;
    top:2.8em;
    
    animation: moveCloud 100s ease-out infinite;
    -webkit-animation: moveCloud 100s ease-out infinite;
    -moz-animation: moveCloud 100s ease-out infinite;
}
#nuage4{
    z-index: 2;
    position: absolute;
    left:-600px;
    top:0.5em;
    
    animation-delay:8s;
    -webkit-animation-delay:8s;
    -moz-animation-delay: 8s;
    animation: moveCloud 90s ease-in-out infinite;
    -webkit-animation: moveCloud 90s ease-in-out infinite;
    -moz-animation: moveCloud 90s ease-in-out infinite;
    
}
#nuage5{
    z-index: 1;
    position: absolute;
    left:-800px;
    top:2em;
    
    animation-delay:7s;
    -webkit-animation-delay:7s;
    -moz-animation-delay: 7s;
    animation: moveCloud 110s ease-out infinite;
    -webkit-animation: moveCloud 110s ease-out infinite;
    -moz-animation: moveCloud 110s ease-out infinite;
}
#nuage6{
    
    z-index: 2;
    position: absolute;
    left:-1000px;
    bottom:20em;
    
    animation-delay:7s;
    -webkit-animation-delay:7s;
    -moz-animation-delay: 7s;
    animation: moveCloud 110s linear infinite;
    -webkit-animation: moveCloud 110s linear infinite;
    -moz-animation: moveCloud 110s linear infinite;

}
    @keyframes moveCloud {
        0% {
            transform: translate(2100px);
        }
        100% {
            transform: translate(-1600px);
        }
    }
    @-webkit-keyframes moveCloud {
        0% {
            transform: translate(2100px);
        }
        100% {
            transform: translate(-1600px);
        }
    }
    @-moz-keyframes moveCloud {
        0% {
            transform: translate(2100px);
        }
        100% {
            transform: translate(-1600px);
        }
    }